# Go
pkg/

# IDE
.vscode/

# MacOS
.DS_Store
._*

# Windows
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/

# PHP
vendor/

# Python
.coverage*
!.coveragerc
dist/
.pytest_cache/
__pycache__/
.venv
reports/
.tox/
.ipynb_checkpoints
.mypy_cache/

# Others
artifacts/
