[report]
exclude_lines =
    pragma: no cover
    if self.debug:
    raise NotImplementedError
    if __name__ == .__main__.:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod

[run]
omit =
    */__main__.py
    src/test_connection.py
