{% extends "base.html" %}

{% block title %}Configuración{% endblock %}

{% block content_title %}
<h1 class="h4 mt-4 mb-0 px-3 font-weight-normal">
    Configuración
</h1>
{% endblock %}

{% block content %}
    <!-- WIDGETS -->
    <div class="row gutters-sm">
        
        <!-- WIDGET -->
        <div class="col-12 col-xl-12 mb-3">

            <!-- start:portlet -->
            <div class="portlet">
                <div class="portlet-header">
                    <span class="d-block text-muted text-truncate font-weight-medium">
                        Modificar parámetros
                    </span>
                </div>
                <div class="portlet-body">
                    <div class="alert alert-primary bg-transparent bw--2" id="msg-loading">Cargando datos...</div>
                    <div class="alert alert-success hide" id="msg-success">Datos modificados correctamente!</div>
                    <div class="alert alert-danger hide" id="msg-error"></div>

                    <form id="form-configuration" class="hide">
                        <div class="form-label-group mb-3">
                            <input placeholder="Duración del evento" id="inp-race-length" name="configuration_race_length" type="text" class="form-control">
                            <label for="inp-race-length">Duración del evento</label>
                        </div>

                        <div class="form-label-group mb-3">
                            <select id="inp-race-length-unit" name="configuration_race_length_unit" class="form-control bs-select">
                                <option value="milli">Milisegundos</option>
                            </select>
                            <label for="inp-race-length-unit">Tipo de duración</label>
                        </div>
                        
                        <div class="form-label-group mb-3">
                            <input placeholder="Top equipos referencia (e.g.: 10)" id="inp-reference-time-top-teams" name="configuration_reference_time_top_teams" type="text" class="form-control">
                            <label for="inp-reference-time-top-teams">Top equipos referencia (e.g.: 10)</label>
                        </div>
                        
                        <div class="form-label-group mb-3">
                            <input placeholder="Tiempo de parada (en milisegundos)" id="inp-stop-time" name="configuration_stop_time" type="text" class="form-control">
                            <label for="inp-stop-time">Tiempo de parada (en milisegundos)</label>
                        </div>
                        
                        <div class="form-label-group mb-3">
                            <input placeholder="Número de paradas" id="inp-min-number-stops" name="configuration_min_number_stops" type="text" class="form-control">
                            <label for="inp-min-number-stops">Número de paradas</label>
                        </div>
                        
                        <div class="form-label-group mb-3">
                            <input placeholder="Número de paradas" id="inp-karts-in-box" name="configuration_karts_in_box" type="text" class="form-control">
                            <label for="inp-karts-in-box">Número de karts en boxes</label>
                        </div>

                        <button class="btn btn-primary" id="btn-modify-configuration">Modificar parámetros</button>
                    </form>
                </div>
            </div>
            <!-- end:portlet -->

        </div>
        <!--/WIDGET -->
    </div>
    <!-- /WIDGETS -->
{% endblock %}

{% block javascript %}
<script src="{{ base_route }}/assets/js/pages/page.js?{{ date().timestamp }}"></script>
<script src="{{ base_route }}/assets/js/pages/configuration.js?{{ date().timestamp }}"></script>
<script type="text/javascript">
window.onload = function() {
    let apiUrl = '{{ env['API_HOST'] }}:{{ env['API_PORT'] }}/{{ env['API_VERSION'] }}';
    let eventName = '{{ event_name }}';
    let page = new ConfigurationPage(apiUrl, eventName);
};
</script>
{% endblock %}
