<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <title>CKM Timing | Creador de eventos</title>

        <meta name="viewport" content="width=device-width, maximum-scale=5, initial-scale=1, user-scalable=0">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

        <!-- up to 10% speed up for external res -->
        <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
        <link rel="dns-prefetch" href="https://fonts.gstatic.com/">
        <link rel="preconnect" href="https://fonts.googleapis.com/">
        <link rel="preconnect" href="https://fonts.gstatic.com/">
        <!-- preloading icon font is helping to speed up a little bit -->
        <link rel="preload" href="{{ base_route }}/assets/fonts/flaticon/Flaticon.woff2" as="font" type="font/woff2" crossorigin>

        <!-- non block rendering : page speed : js = polyfill for old browsers missing `preload` -->
        <link rel="stylesheet" href="{{ base_route }}/assets/css/core.css">
        <link rel="stylesheet" href="{{ base_route }}/assets/css/custom.css">
        <link rel="stylesheet" href="{{ base_route }}/assets/css/vendor_bundle.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap">

        <!-- favicon -->
        <link rel="shortcut icon" href="{{ base_route }}/assets/images/favicon.ico">
        <link rel="apple-touch-icon" href="{{ base_route }}/assets/images/favicon.ico">

        <link rel="manifest" href="{{ base_route }}/assets/images/manifest/manifest.json">
        <meta name="theme-color" content="#313131">
    </head>

    <body class="layout-admin layout-padded">
        <div id="wrapper" class="d-flex align-items-stretch flex-column">
            <div id="wrapper_content" class="d-flex flex-fill">

                <!-- MIDDLE -->
                <div id="middle" class="flex-fill">
                    <div class="p-2 mb-4 rounded col-12 col-xl-12 col-lg-12 col-sm-12 text-center">
                        <img src="{{ base_route }}/assets/images/logo.png" width="250" alt="Logo" class="no-max">
                    </div>

                    <div class="page-title bg-transparent b-0">
                        <h1 class="h4 mt-4 mb-0 px-3 font-weight-normal">
                            Creador de eventos
                        </h1>
                    </div>

                    <!-- WIDGETS -->
                    <div class="row gutters-sm">
                        
                        <!-- WIDGET -->
                        <div class="col-12 col-xl-12 mb-3">

                            <!-- start:portlet -->
                            <div class="portlet">
                                <div class="portlet-body">
                                    <div class="container py-6">
                                        <div class="alert alert-danger hide" id="msg-error"></div>

                                        <form id="form-event-creator">
                                            <div class="portlet-header border-bottom margin-bottom-1rem">
                                                <span>Datos básicos</span>
                                            </div>

                                            <div class="form-label-group mb-3">
                                                <input placeholder="Nombre del evento" id="inp-name" name="name" type="text" class="form-control" value="11">
                                                <label for="inp-name">Nombre del evento</label>
                                            </div>

                                            <div class="form-label-group mb-3">
                                                <select id="inp-track-name" name="track_name" class="form-control bs-select">
                                                    <option value="santos">Los Santos</option>
                                                </select>
                                                <label for="inp-track-name">Circuito</label>
                                            </div>

                                            <div class="form-label-group mb-3">
                                                <select id="inp-event-type" name="event_type" class="form-control bs-select">
                                                    <option value="endurance">Resistencia</option>
                                                </select>
                                                <label for="inp-event-type">Tipo de evento</label>
                                            </div>

                                            <div class="portlet-header border-bottom margin-bottom-1rem">
                                                <span>Configuración adicional</span>
                                            </div>
                                            
                                            <div class="form-label-group mb-3">
                                                <input placeholder="Duración del evento" id="inp-race-length" name="configuration_race_length" type="text" class="form-control" value="11">
                                                <label for="inp-race-length">Duración del evento</label>
                                            </div>

                                            <div class="form-label-group mb-3">
                                                <select id="inp-race-length-unit" name="configuration_race_length_unit" class="form-control bs-select">
                                                    <option value="hours">Horas</option>
                                                </select>
                                                <label for="inp-race-length-unit">Tipo de duración</label>
                                            </div>
                                            
                                            <div class="form-label-group mb-3">
                                                <input placeholder="Top equipos referencia (e.g.: 10)" id="inp-reference-time-top-teams" name="configuration_reference_time_top_teams" type="text" class="form-control">
                                                <label for="inp-reference-time-top-teams">Top equipos referencia (e.g.: 10)</label>
                                            </div>
                                            
                                            <div class="form-label-group mb-3">
                                                <input placeholder="Tiempo de parada (en milisegundos)" id="inp-stop-time" name="configuration_stop_time" type="text" class="form-control" value="11">
                                                <label for="inp-stop-time">Tiempo de parada (en milisegundos)</label>
                                            </div>
                                            
                                            <div class="form-label-group mb-3">
                                                <input placeholder="Número de paradas" id="inp-min-number-stops" name="configuration_min_number_stops" type="text" class="form-control" value="11">
                                                <label for="inp-min-number-stops">Número de paradas</label>
                                            </div>

                                            <button class="btn btn-primary" id="btn-create-event">Crear evento</button>
                                        </form>
                                    </div>

                                    <a href="{{ routes['EVENT_INDEX'] }}" class="btn btn-dark rounded-xl transition-hover-top">
                                        <i class="fi fi-go-back"></i>
                                        <span class="float-start text-align-start px-2">
                                            <span class="d-block line-height-1 fs--20 pt-1">Volver</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <!-- end:portlet -->

                        </div>
                        <!--/WIDGET -->
                    </div>
                    <!-- /WIDGETS -->
                </div>
            </div>
        </div><!-- /#wrapper -->

        <script src="{{ base_route }}/assets/js/jquery-3.5.1.min.js"></script>
        <script src="{{ base_route }}/assets/js/core.min.js"></script>
        <script src="{{ base_route }}/assets/js/vendor_bundle.min.js"></script>
        <script src="{{ base_route }}/assets/js/pages/page.js?{{ date().timestamp }}"></script>
        <script src="{{ base_route }}/assets/js/pages/event_creator.js?{{ date().timestamp }}"></script>
        <script type="text/javascript">
        window.onload = function() {
            let apiUrl = '{{ env['API_HOST'] }}:{{ env['API_PORT'] }}';
            let page = new EventCreatorPage(apiUrl);
        };
        </script>

        <div id="page_js_files"><!-- specific page javascript files here --></div>
    </body>
</html>