{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
	<div class="bg-white shadow-xs p-2 mb-4 rounded col-12 col-xl-6 col-lg-6 col-sm-12">
		<div class="clearfix bg-light p-2 rounded d-flex align-items-center">
			<span class="d-block px-2 text-muted text-truncate">
				Estado de la pista:
			</span>
			<span class="btn row-pill btn-sm bg-gradient-warning b-0 py-1 mb-0 float-start">
				+0.780 seg
			</span>
		</div>
	</div>

    <!-- WIDGETS -->
	<div class="row gutters-sm">
		
		<!-- WIDGET -->
		<div class="col-12 col-xl-12 col-lg-12 mb-3">
			<div class="portlet">
				<div class="portlet-header">
					<span class="d-block text-muted text-truncate font-weight-medium">
						Ranking real
					</span>
				</div>
				<div class="portlet-body">
					<div id="clipboard_7" class="p--15 bg-white rounded">
						<table class="table table-striped table-dark table-sm">
							<thead>
								<tr>
									<th scope="col">Cal.</th>
									<th scope="col">Pos.</th>
									<th scope="col">Equipo</th>
									<th scope="col">Última vuelta</th>
									<th scope="col">Mejor vuelta</th>
									<th scope="col">Dif.</th>
									<th scope="col">Tendencia</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<th scope="row" class="badge-success">&nbsp;</th>
									<th>1</th>
									<td>CKM Berylo</td>
									<td>1:06.506</td>
									<td>1:06.506</td>
									<td>-</td>
									<td>-</td>
								</tr>
								<tr>
									<th scope="row" class="badge-danger">&nbsp;</th>
									<th>2</th>
									<td>CKM Tabuenca</td>
									<td>1:06.506</td>
									<td>1:06.506</td>
									<td>+7.108 seg</td>
									<td>+0.356 seg/v</td>
								</tr>
								<tr>
									<th scope="row" class="badge-primary">&nbsp;</th>
									<th>3</th>
									<td>CKM Fuoko</td>
									<td>1:06.506</td>
									<td>1:06.506</td>
									<td>+2.370 seg</td>
									<td>-0.179 seg/v</td>
								</tr>
								<tr>
									<th scope="row" class="badge-danger">&nbsp;</th>
									<th>4</th>
									<td>CKM Vimesa</td>
									<td>1:06.506</td>
									<td>1:06.506</td>
									<td>+3.143 seg</td>
									<td>+0.088 seg/v</td>
								</tr>
								<tr>
									<th scope="row" class="badge-danger stripped-blue-danger">&nbsp;</th>
									<th>5</th>
									<td>CKM Roundabout</td>
									<td>1:06.506</td>
									<td>1:06.506</td>
									<td>+3.143 seg</td>
									<td>+0.088 seg/v</td>
								</tr>
								<tr>
									<th scope="row" class="badge-success">&nbsp;</th>
									<th>6</th>
									<td>CKM Elite</td>
									<td>1:06.506</td>
									<td>1:06.506</td>
									<td>+2.370 seg</td>
									<td>-0.179 seg/v</td>
								</tr>
								<tr>
									<th scope="row" class="badge-danger stripped-blue-success">&nbsp;</th>
									<th>7</th>
									<td>CKM Grepitex</td>
									<td>1:06.506</td>
									<td>1:06.506</td>
									<td>+3.143 seg</td>
									<td>+0.088 seg/v</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- /WIDGET -->

		{% include 'static/legend.html' %}
	</div>
	<!-- /WIDGETS -->
{% endblock %}
